body {
    font-family: 'Brush script MT', cursive;
    background: #c746c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: rgb(238, 151, 255);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}
button {
    padding: 10px;
    width: 60%;
    background: #e4ff4a;
    color: rgb(0, 0, 0);
    border: none;
}
.error {
    color: rgb(26, 0, 121);
}