body {
    font-family: 'Brush script MT', cursive;
     html {
      --s: 16px; /* control the size*/
      --c1: #85006e;
      --c2: #c746c0;
      --c3: #c746c0;
    
      --_g: calc(2*var(--s)*1.732) calc(2*var(--s)) 
        conic-gradient(from 60deg at 62.5% 50%,var(--c3) 60deg,#0000 0); 
      background:
           calc( 2.598*var(--s)/2) calc(var(--s)/ 2)/var(--_g),
           calc(-0.866*var(--s)/2) calc(var(--s)/-2)/var(--_g),
        repeating-conic-gradient(var(--c2) 0 90deg,#0000 0 180deg) 
           0 0/calc(2*var(--s)*1.732) calc(2*var(--s)),
        repeating-conic-gradient(from 60deg,var(--c1) 0 60deg,var(--c2) 0 180deg) 
           0 0/calc(var(--s)*1.732) var(--s);
    }
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: rgb(238, 151, 255);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 2, 26, 0.2);
    width: 360px;
    text-align: center;
}
input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    background-color: rgb(249, 255, 220);
}
button {
    padding: 10px;
    width: 60%;
    background: rgb(228, 255, 74);
    color: rgb(0, 0, 0);
    border: none;
}
.error {
    color: rgb(26, 0, 121);
}

hr {
        display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
border-color:rgb(37, 0, 36);
} 

