body {
    font-family: 'Brush script MT', cursive;
    background-image: linear-gradient(to bottom, #c746c0, #85006e);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: rgb(238, 151, 255);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    background-color: rgb(249, 255, 220);
}
button {
    padding: 10px;
    width: 60%;
    background: rgb(228, 255, 74);
    color: rgb(0, 0, 0);
    border: none;
}
.error {
    color: rgb(26, 0, 121);
}

hr {
        display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
border-color:rgb(37, 0, 36);
} 