{% extends "base.html" %}

{% block content %}
<h2>Create New Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">

    <p> How badly must you see this in the future?</p>
    <input name="importance" type="range" min="1" max="100" value="50" class="slider" id="importance">
    <br>
    <span id="sliderValue"></span>

    <script>
        const slider = document.getElementById('importance')
        const output = document.getElementById('sliderValue')

        // Initialize display
        output.textContent = slider.value;

        // Update display when slider value changes
        slider.addEventListener('input', function () {
            output.textContent = this.value;
        });
        
        fetch('/process_slider', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ slider_value: val })
            .then(response => response.json())
            .then(data => console.log('Success:', data))
            .catch(error => console.error('Error:', error))
        });
    </script><br>

    <input name="title" placeholder="Title"><br>
    
    <input name="content" placeholder="What your heart feels"><br>

    <button type="submit">Upload your feelings!</button>

</form>
<a href="/dashboard">Back to lovely memories!</a>
<!-- TODO: Add a link back to dashboard -->

{% endblock %}