<!-- TODO: Rename this file to dashboard.html when ready -->

{% extends "base.html" %}

{% block content %}

<h2>Your Dashboard</h2>

<h3>Welcome, {{ username }}!</h3>

<!-- TODO: Add a button or link to create a new entry -->
<a href="/create">Create New Entry</a>
<br><br>

<!-- TODO: Loop through entries passed from Flask -->
<!-- The variable "entries" will come from your Flask route -->
<!-- Example structure: -->


{% for entry in order_of_showing_entries %}
    <div>
        <h3>{{ entry['title'] }}</h3>

        <!-- TODO: Add Edit link -->
        <a href="/edit/{{ entry['id'] }}">Edit to make your feelings truer</a>
        <br>

        <!-- TODO: Add Delete link -->
        <a href="/delete/{{ entry['id'] }}">Delete those bad feelings</a>

    </div>
    <hr>
{% endfor %}


<!-- TODO: If no entries exist, display a message like:
"No entries yet!" -->

<br>

<!-- TODO: Add a logout button -->
<a href="/logout"><button>Logout</button></a>

{% endblock %}