{% extends "base.html" %}

{% block content %}
<h2>Edit Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">

    <!-- TODO: Pre-fill title using entry data -->
    <!-- Hint: value="{{ entry['title'] }}" -->
     <input name="title" placeholder="Title" value="{{ entry['title'] }}">
     <input name="content" placeholder="Content" value="{{ entry['content'] }}">
     <button type="submit">Make you feelings truer to you!</button>

    <!-- TODO: Pre-fill content using entry data -->

    <!-- TODO: Add submit button -->

</form>

<!-- TODO: Add a link back to dashboard -->
<a href="{{ url_for('dashboard') }}">If these feelings are true, here's a way to revisit some other ones!</a>

{% endblock %}